
$cerulean: #0071bb;
$charcoal-grey: #323a44;
$cobalt: #205493;
$dark-slate-blue: #122e51;
$duck-egg-blue: #e0f3f8;
$light-blue-grey: #d7d2e5;
$light-green: #d6e39e;
$pale-rose: #f8d1d4;
$powder-blue: #b4e2f8;
$silver: #d6d7d9;
$silver-two: #e6e7e8;
$slate-grey: #5b616a;
$teal-blue: #0080af;
$white: #ffffff;
$highlight: #fad980;

$main-bg: #fff;
$main-color: #000;
$main-top-margin: 2.5rem;
$main-min-height: 100vh;

$header-nav-height: 2.5rem;

$footer-height: 2rem;