@import '../../../styles/_colors.scss';

.app-header-nav {
  border-bottom: 1px solid grey;
  padding: 0.25rem;

  a {
    color: $white;
    text-decoration: none;

    &.active-link {
      font-weight: bold;
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;

    img {
      // text-shadow: 0px 0px 2px $white;
      filter: drop-shadow(0px 0px 3px #fff);
    }
  }

  .main-nav-item {
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
